
CREATE USER {{ AmbariUser }} IDENTIFIED BY {{ AmbariPassword }} default tablespace "USERS" temporary tablespace "TEMP";
GRANT unlimited tablespace to {{ AmbariUser }};
GRANT create session to {{ AmbariUser }};
GRANT create TABLE to {{ AmbariUser }};
GRANT create SEQUENCE to {{ AmbariUser }};

QUIT;

