127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

# HDP Cluster gateway node
192.168.1.100 server1.hdp server1
192.168.1.101 server2.hdp server2
192.168.1.102 server3.hdp server3
192.168.1.103 server4.hdp server4
192.168.1.104 server5.hdp server5