127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

# HDP Cluster gateway node
{{ hostRoot }}.100 server1.hdp server1
{{ hostRoot }}.101 server2.hdp server2
{{ hostRoot }}.102 server3.hdp server3
{{ hostRoot }}.103 server4.hdp server4
{{ hostRoot }}.104 server5.hdp server5